@tailwind base;
@tailwind components;
@tailwind utilities;

.hcs-button {
    display: inline-flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: rgb(217 119 6);
    color: #ffffff;
}
.hcs-button:hover {
    background-color: rgb(180 83 9);
}
.hcs-button:focus {
    background-color: rgb(146 64 14);
}

.hcs-emoji-button {
    display: inline-flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}
.hcs-emoji-button:hover {
    background-color: rgb(148 163 184);
}
.hcs-emoji-button:focus {
    background-color: rgb(100 116 139);
}

.hcs-button-container {
    display: flex;
    margin-top: 1.25rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.hcs-form {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
    width: 100%;
    text-align: start;

    @media (min-width: 640px) {
        max-width: 36rem;
    }
}
